body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  nav {
    background-color: #a7a7a7;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
  }

  nav a:hover {
    color: #e56e24;
  }
  .player-box {
    border: 1px solid #d63636;
    margin-bottom: 20px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
  }

  .player-info p {
    margin: 5px 0;
  }
  .player-box.hovered {
    transform: scale(1.1);
  }
#players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}


.player-box {
  width: 300px;
  border: 1px solid #f49644;
  margin: 10px;
  padding: 15px;
  text-align: center;
}


h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}


.player-info {
  margin-top: 10px;
}


.player-info p {
  margin: 5px 0;
}
#foto{
  height: 400px;
  width: 100%;
}
.MannschaftenIMG{
height: 100px;
}
#team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
#teamBild{
  width: 100%;
  height: 400px;
}


.kommentar {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.comment-input,
.star-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.submit-btn {
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.submit-btn:hover {
  background-color: #45a049;
}


.star:hover,
.star.active {
  color: #896e1c93;
}
.comment-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  width: 90%;
}

.star-rating {
  color: rgb(133, 117, 32);
}
#myChart{
  padding-left: 250px;
}
.delete-btn {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.update-btn {
  background-color: #3b6e34;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


.delete-btn:hover {
  background-color: #d32f2f;
}